<div class="container">
  <h1>All songs</h1>

  <p><a href="/songs/new">Add a new song</a></p>

  <table class="table">
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>URL</th>
    </tr>
    <% @songs.each do |song| %>
      <tr>
        <td><a href="songs/<%= song.id %>"><%= song.title %></a></td>
        <td> <%= song.author%></td>
        <td><% if song.url %> 
                <a href="<%=song.url %>">link</a>
              <% end %>
        </td>
      </tr>
    <% end %>
  </table>

</div>