<body>
  <% if @user && @user.password != params[:password] %>
    <div class="alert alert-danger">
    <strong>"Wrong password, please try again"</strong>
    </div>
  <% elsif @user.nil? %>
    <div class="alert alert-danger">
      <strong>"No user found, please signup"</strong>
    </div>
  
  <% elsif @user.errors.any? %>
    <div class="alert alert-danger">
      <strong>Please fix these issues with your user:</strong>
      <ul>
        <% @user.errors.full_messages.each do |user| %>
          <li><%= user %></li>
        <% end %>
        </ul>
      </p>
    </div>
  <% end %>
  <a href="/login">Return to login or signup page</a>
</body>