<body>
  <div class="container">
  <h2>Signup</h2>
  <form method="post" action="/signup">
      <div>
        <label>Email:
        <input type="email" name="email">
        </label>
      </div>
      <div>
        <label>Password:
        <input type="password" name="password">
        </label>
      </div>
        <input type="submit" class="btn btn-primary" value="Signup">
      </div>
    </form>
  </div>
  <div class="container">
  <h2>Login</h2>
    <form method="post" action="/login">
      <div>
       <div>
        <label>Email:
        <input type="email" name="email">
        </label>
      </div>
      <div>
        <label>Password:
        <input type="password" name="password">
        </label>
      </div>
        <input type="submit" class="btn btn-primary" value="Login">
      </div>
    </form>
  </div>
</body>