<body>
  <h1>Songs-R-Us</h1>

  <p class="well">Welcome to Songs-R-Us! <a href="/songs">Here</a> is a list of all the songs that have been posted.</p>

  <p class="well">Want to post a new song?

  <a href="/songs/new">Click here!</a></p>

</body>